@import "../../css/style.scss";

.menu-item {
    background: rgba( 255, 255, 255, 0.35 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    padding: $m-padding;
    margin-bottom: $s-padding;
}
.menu-item-add { color: $blue-highlight; }
.menu-item-add:hover { cursor: pointer; }

.menu-item-title__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-item-title { color: $purple-highlight;}

.menu-item-details__wrapper {
    display: flex;
    align-items: center;
    padding: $s-padding 0;
}

.menu-item-price { margin-right: $m-padding; color: $eth-purple; }
.menu-item-description { color: $dark-light; }